<app-header></app-header>
<section id="who-we-are" class="page-section no-pad border-tb">
    <div class="container-fluid who-we-are">
        <div class="row">
            <div class="col-md-8 pad-60 xs-pad-0 bottom-pad-10 top-pad-80">
                <div class="owl-carousel navigation-3 opacity text-left" data-pagination="false" data-items="2"
                data-autoplay="true" data-navigation="true">
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <p class="text-center">
                            <a href="assets/img/sections/about/1.jpg" class="opacity" data-rel="prettyPhoto[portfolio]">
                                <img src="assets/img/sections/about/1.jpg" width="370" height="185" alt="" />
                            </a>
                        </p>
                        <h3>
                            <a href="#">COMPANY HISTORY</a>
                        </h3>
                        <p>We are one of the best service industries driven by online platforms, providing opportunities that create a sense of trust with the customer and user. We always focus on solutions in a different way that helps thousands of our users. We do not look for excuses for not doing our work, but try to find the best solution for every task.
</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <p class="text-center">
                            <a href="assets/img/sections/about/2.jpg" class="opacity" data-rel="prettyPhoto[portfolio]">
                                <img src="assets/img/sections/about/2.jpg" width="370" height="185" alt="" />
                            </a>
                        </p>
                        <h3>
                            <a href="#">OUR MISSION</a>
                        </h3>
                        <p> To Provide  best quality services at his/her own choice to end user , through ethically hassle free work. Build trust and ensure prosperity for all our business partner in the organization .

</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <p class="text-center">
                            <a href="assets/img/sections/about/3.jpg" class="opacity" data-rel="prettyPhoto[portfolio]">
                                <img src="assets/img/sections/about/3.jpg" width="370" height="185" alt="" />
                            </a>
                        </p>
                        <h3>
                            <a href="#">COMPANY VISION</a>
                        </h3>
                        <p>Creating "Sustainable" Moral and Legal income with fastest way in the 2work India. It is our passion to enable our user in their hunt of immediate resolve or acquaintance of things or services. To build the most convenient and effective medium of pursuing things with the quality work.</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <p class="text-center">
                            <a href="assets/img/sections/about/4.jpg" class="opacity" data-rel="prettyPhoto[portfolio]">
                                <img src="assets/img/sections/about/4.jpg" width="370" height="185" alt="" />
                            </a>
                        </p>
                        <h3>
                            <a href="#">Operational Range</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim,
                        at accumsan metus viverra. Integer neque lectus, pellentesque sit dolor sit dolor.</p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <p class="text-center">
                            <a href="assets/img/sections/about/5.jpg" class="opacity" data-rel="prettyPhoto[portfolio]">
                                <img src="assets/img/sections/about/5.jpg" width="370" height="185" alt="" />
                            </a>
                        </p>
                        <h3>
                            <a href="#">Financial Information</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare odio et massa dignissim,
                        at accumsan metus viverra. Integer neque lectus, pellentesque sit dolor sit dolor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-pad text-center">
                <!-- Image -->
                <div class="image-bg" data-background="assets/img/sections/bg/1.jpg"></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
