<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <!--<h4 class="modal-title">Coming Soon</h4>-->
          </div>
          <div class="modal-body" style="background-color: #FEBF01;">
             <div class="card mb-3" style="max-width: 540px; text-align: center;">
                <div class="row g-0">
                   <div class="col-md-4">
                      <img
                         src="assets/img/popup-subscribe-bg.png"
                         alt="..."
                         class="img-fluid"
                         />
                   </div>
                   <div class="col-md-8">
                      <div class="card-body">
                         <h4 class="card-title" style="margin-bottom: 10px;">WANT TO RECEIVE THE <br>HOTTEST NEWS?</h4>
                         <h6 class="card-title" style="margin-bottom: 10px;">Subscribe us to keep up-to-date!</h6>
                         <div class="row g-3 align-items-center">
                            <div class="form-outline col-md-12">
                               <div class="input-group mb-3">
                                  <input type="email" class="form-control" placeholder="Email" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                  <button class="btn btn-outline-secondary" type="button" id="button-addon1">Subscribe</button>
                               </div>
                            </div>
                         </div>
                      </div>
                      <br>
                      
                   </div>
                   <div class="row">
                    <div class="col-md-12">
                       <a  class="btn" id="btnhover" style='float:right;background: transparent;border: 2px solid black; background:#fff; ' href="#">
                          <span class="fa fa-apple fa-2x pull-left"> </span>
                          <p style="font-size: 10px; margin: 0 30px 0 0; letter-spacing: 0;">Download on the <br>App Store</p>
                       </a>
                   
                    
                       <a  class="btn" id="btnhover" style='float:right;background: transparent;border: 2px solid black; background:#fff;margin-right:20px;' href="#">
                          <span class="fa fa-android fa-2x pull-left"> </span>
                          <p style="font-size: 10px; margin: 0 30px 0 0; letter-spacing: 0;">Download on the<br> Google Play</p>
                       </a>
                      </div>
                    </div>
                </div>
             </div>
          </div>
          <!--<div class="modal-footer">-->
          <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
          <!--</div>-->
       </div>
    </div>
 </div>
 
 
         <section id="fun-factor" class="page-section">
             <div class="container">
                 <div class="row text-right fact-counter">
                     <div class="col-sm-6 col-md-3 bottom-xs-pad-30 fun-icon">
                         <!-- Icon -->
                         <div class="count-number text-color" data-count="92">
                             <span class="counter"></span>
                         </div>
                         <!-- Title -->
                         <h4>Happy Clients</h4>
                     </div>
                     <div class="col-sm-6 col-md-3 bottom-xs-pad-30">
                         <!-- Icon -->
                         <div class="count-number text-color" data-count="83">
                             <span class="counter"></span>
                         </div>
                         <!-- Title -->
                          <h4>Running Project</h4>
                     </div>
                     <div class="col-sm-6 col-md-3 bottom-xs-pad-30">
                         <!-- Icon -->
                         <div class="count-number text-color" data-count="67">
                             <span class="counter"></span>
                         </div>
                         <!-- Title -->
                         <h4>Worker 
                         <!--<span>Project</span>--></h4>
                     </div>
                     <div class="col-sm-6 col-md-3 bottom-xs-pad-30">
                           <!--Icon-->
                         <div class="count-number text-color" data-count="36">
                             <span class="counter"></span>
                         </div>
                          <!--Title -->
                         <h4>Completed Project</h4>
                     </div>
                     <!--<div class="col-sm-6 col-md-2 bottom-xs-pad-30">-->
                           <!--Icon-->
                     <!--    <div class="count-number text-color" data-count="36">-->
                     <!--        <span class="counter"></span>-->
                     <!--    </div>-->
                          <!--Title -->
                     <!--    <h4>Happy -->
                     <!--    <span>Clients</span></h4>-->
                     <!--</div>-->
                 </div>
             </div>
         </section>


<div class="container">
	<div class="row text-center">
		
        <p>
            <a href="#" class="btn btn-store1">
                <span class="fa fa-apple fa-3x pull-left"></span> 
                <span class="btn-label">Download on the</span>
                <span class="btn-caption">App Store</span>
            </a>
            <a href="#" class="btn btn-store1">
                <span class="fa fa-android fa-3x pull-left"></span> 
                <span class="btn-label">Download on the</span>
                <span class="btn-caption">Google Play</span>
            </a>
          
        </p>
	</div>
</div>
 <div id="get-quote" class="bg-color white  text-center" style="background-color: #1064aa;">
    <div class="container">
       <div class="row get-a-quote">
          <div class="col-md-12">Get A Free Quote / Need a Help ? 
             <a class="black" href="#">Contact Us</a>
          </div>
       </div>
       <div class="move-top bg-color page-scroll"  style="background-color: #1064aa;">
          <a href="#page">
          <i class="glyphicon glyphicon-arrow-up"></i>
          </a>
       </div>
    </div>
 </div>
 <!-- request -->
 <footer id="footer">
    <div class="footer-widget">
       <div class="container">
          <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
                <div class="widget-title">
                   <!-- Title -->
                   <h3 class="title">Address</h3>
                </div>
                <!-- Address -->
                <p>
                   <b>Office:</b> 
                   <br />No. 545 Chandigarh City Center (CCC),
                   <br />VIP Road, Zirakpur Pb-140603.
                </p>
                <!-- Email -->
                <a class="text-color" href="mailto:info@2workindia.com">info@2workindia.com</a> 
                <!-- Phone -->
                <p>
                   <b>Call Us:</b> +91 80 54 78 43 34 or
                   <br /> <b> WhatsApp: </b> +91 6280901076 
                </p>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
                <div class="widget-title">
                   <!-- Title -->
                   <h3 class="title">Services</h3>
                </div>
                <nav>
                   <ul>
                      <!-- List Items -->
                      <li>
                         <a href="#">General Contracting</a>
                      </li>
                      <li>
                         <a href="#">Construction Consultant</a>
                      </li>
                      <li>
                         <a href="#">House Renovation</a>
                      </li>
                      <li>
                         <a href="#">Metal Roofing</a>
                      </li>
                      <li>
                         <a href="#">Green House</a>
                      </li>
                      <li>
                         <a href="#">Tiling and Painting</a>
                      </li>
                   </ul>
                </nav>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 widget">
                <div class="widget-title">
                   <!-- Title -->
                   <h3 class="title">Business Hours</h3>
                </div>
                <nav>
                   <ul>
                      <!-- List Items -->
                      <li>
                         <a href="#">Monday-Saturday: 10 am to 6 pm</a>
                      </li>
                      <li>
                         <a href="#"> Sunday: On Call </a>
                      </li>
                   </ul>
                   <!-- Count -->
                   <div class="footer-count">
                      <p class="count-number" data-count="1550">Total projects : 
                         <span class="counter"></span>
                      </p>
                   </div>
                   <div class="footer-count">
                      <p class="count-number" data-count="550">Happy clients : 
                         <span class="counter"></span>
                      </p>
                   </div>
                </nav>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 widget newsletter bottom-xs-pad-20">
                <div class="widget-title">
                   <!-- Title -->
                   <h3 class="title">Newsletter Signup</h3>
                </div>
                <div>
                   <!-- Text -->
                   <p>Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
                   <p class="form-message1"></p>
                   <div class="clearfix"></div>
                   <!-- Form -->
                   <form id="subscribe_form" action="#" method="post" name="subscribe_form"
                      role="form">
                      <div class="input-text form-group has-feedback">
                         <input class="form-control" type="email" value="" name="subscribe_email" /> 
                         <button class="submit bg-color" type="submit">
                         <span class="glyphicon glyphicon-arrow-right"></span>
                         </button>
                      </div>
                   </form>
                </div>
                <!-- Social Links -->
                <div class="social-icon gray-bg icons-circle i-3x">
                   <a href="https://www.facebook.com/2WorkIndiawale">
                   <i class="fa fa-facebook"></i>
                   </a> 
                   <a href="#">
                   <i class="fa fa-twitter"></i>
                   </a> 
                  <!-- <a href="#">
                   <i class="fa fa-pinterest"></i>
                   </a> --->
                   
                   <a href="#">
                   <i class="fa fa-google"></i>
                   </a> 
                   <a href="#">
                   <i class="fa fa-linkedin"></i>
                   </a>
                </div>
             </div>
             <!-- .newsletter -->
          </div>
       </div>
    </div>
    <!-- footer-top -->
    <div class="copyright">
       <div class="container">
          <div class="row">
             <!-- Copyrights -->
             <div class="col-xs-12 col-sm-6 col-md-6">
                Copyright &copy; 2Work India - 2021
                <br />
                <!-- Terms Link -->
                <a href="#">Terms of Use</a> / 
                <a href="#">Privacy Policy</a>
             </div>
             <div class="col-xs-12 text-center visible-xs-block page-scroll gray-bg icons-circle i-3x">
                <!-- Goto Top -->
                <a href="#page">
                <i class="glyphicon glyphicon-arrow-up"></i>
                </a>
             </div>
          </div>
       </div>
    </div>
    <!-- footer-bottom -->
 </footer>
 <!-- footer -->
