<app-header></app-header>
<section class="slider rs-slider-full">
    <div class="tp-banner-container">
        <div class="tp-banner-full">
            <ul>
                <!-- Intro Slide -->
                <li data-transition="fade" data-slotamount="6" data-masterspeed="200" data-delay="7000"
                data-title="Intro Slide">
                    <img src="assets/img/sections/slider/slide22.jpg" alt="" data-bgposition="left center" data-kenburns="on"
                    data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
                    data-bgpositionend="right center" />
                    <div class="elements white">
                        <h2 class="tp-caption tp-resizeme customin customout lft skewtotop title bold rs-parallaxlevel-1"
                        data-x="center" data-y="201" data-speed="800" data-start="800"
                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn">
                            <b>Creative Metal Template</b>
                        </h2>
                        <div class="tp-caption tp-resizeme customin customout lfr skewtoright description  text-center rs-parallaxlevel-2"
                        data-x="center" data-y="290" data-speed="800" data-start="1200"
                        data-customin="x:-50;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.1;scaleY:0.1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn"
                        style="max-width: 800px; text-align:center">
                            <p>Proin a velit aliquam vitae malesuada rutrum. Aenean ullamcorper placerat porttitor velit
                            aliquam vitae. Aliquam a augue suscipit, bibendum luctus neque laoreet rhoncus ipsum,
                            ullamcorper</p>
                        </div>
                        <p class="tp-caption tp-resizeme lfb customin customout  text-center button-block rs-parallaxlevel-3"
                        data-x="502" data-y="370" data-speed="800"
                        data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-start="1600" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power1.easeIn"
                        style="width: 100%">
                        <a href="#" class="btn btn-default">Read more</a> 
                        <a href="#" class="btn btn-default">Download now</a></p>
                    </div>
                </li>
                <!-- Slide Ends -->
                <!-- Features Slide -->
                <li data-transition="curtain-2" data-slotamount="6" data-masterspeed="1200" data-delay="7000"
                data-title="Features Slide">
                    <img src="assets/img/sections/slider/slide22.jpg" alt="" data-bgposition="center top" data-kenburns="on"
                    data-duration="16000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100"
                    data-bgpositionend="center center" />
                    <div class="elements white">
                        <h2 class="tp-caption tp-resizeme sft skewtotop title bold customin customout rs-parallaxlevel-1"
                        data-hoffset="0" data-voffset="0" data-x="center" data-y="175"
                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="800" data-start="800" data-startslide="1" data-easing="Power4.easeOut"
                        data-endspeed="500" data-endeasing="Power4.easeIn">Used Latest frameworks</h2>
                        <div class="tp-caption tp-resizeme lfr skewtoright description text-center  rs-parallaxlevel-2"
                        data-x="center" data-y="250" data-speed="800" data-start="1200" data-easing="Power4.easeOut"
                        data-endspeed="500" data-endeasing="Power1.easeIn" style="max-width: 600px">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do usmod tempor incididunt ut
                            labore et dolore magna aliqua ut enim ad minim veniam dolore magna aliqua ut enim ad minim
                            veniam.</p>
                        </div>
                    </div>
                </li>
                <!-- Slide Ends -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>
<!-- slider -->

<section id="who-we-are" class="page-section light-bg border-tb">
    <div class="container who-we-are">
        <div class="section-heading">
            <div class="section-title text-left" Id="hello">
                <!-- Title -->
                <h2 class="title">Who We Are</h2>
            </div>
            <div class="section-title-description">We are one of the best service industries driven by online platforms, providing opportunities 
            that create a sense of trust with the customer and user. We always focus on solutions in a different way that helps thousands of 
            our users. We do not look for excuses for not doing our work, but try to find the best solution for every task. 2Work India is a one 
            stop solution for your home, wellness and many more.
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="item-box bottom-pad-10">
                    <a>
                        <i class="icon-star13 i-5x bg-color"></i>
                        <h4>What We Do?</h4>
                        <p>Through 2Work India, we are providing all kinds of services to the people at their homes, 
                        that too at their prices, no longer going out for finding work, just do on one click.</p>
                    </a> 
                    <a>
                        <i class="icon-heart18 i-5x bg-color"></i>
                        <h4>Why People Like Us?</h4>
                        <p>We do not look for excuses for not doing our work, but try to find the best solution 
                        for every task. Because we are deeply aware that our certified users are our real pillars of the company. </p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-box bottom-pad-10">							 
                    <a>
                        <i class="icon-gift6 i-5x bg-color"></i>
                        <h4>What We Offer?</h4>
                        <p>Now India will work with 2Work India. Everyone can increase their business with their income 
                        by joining us, that too without any cost.</p>
                    </a>
                    <a>
                        <i class="icon-flag i-5x bg-color"></i>
                        <h4>Vision & Mission</h4>
                        <p>To Provide best quality services at his/her own choice to end user, through ethically hassle free work. 
                        Build trust and ensure prosperity for all our business partner in the organization.
</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">                        
                 <p>It is our passion to enable our user in their hunt of immediate resolve or acquaintance of things or services. 
                 To build the most convenient and effective medium of pursuing things with the quality work.
</p>
                </div>							
            </div>
    </div>
</section>
<section id="works" class="page-section transparent">
        <div class="container">
            <div class="section-title text-left">
                 <!--Heading -->
                <h2 class="title">Featured Works</h2>
            </div>
        </div>
         <!--filter -->
        <div class="container general-section">
            <div id="options" class="filter-menu">
                <ul class="option-set nav nav-pills">
                    <li class="filter active" data-filter="all">Show All</li>
                    <li class="filter" data-filter=".commercial">Commercial</li>
                    <li class="filter" data-filter=".education">Education</li>
                    <li class="filter" data-filter=".healthcare">Healthcare</li>
                    <li class="filter" data-filter=".residential">Residential</li>
                </ul>
            </div>
        </div>	
        <div class="container white general-section">
            <div id="mix-container" class="portfolio-grid custom no-item-pad">
                 <!--Item 1 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all commercial">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/1.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                            <h4>Healthcare</h4>
                             <!--Image Popup-->
                            <a href="assets/img/sections/portfolio/1.jpg" data-rel="prettyPhoto[portfolio]">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
                 <!--Item 1 Ends-->
                 <!--Item 2 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all commercial healthcare">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/2.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                        <h4>Healthcare</h4>
                         <!--Image Popup-->
                        <a href="assets/img/sections/portfolio/2.jpg" data-rel="prettyPhoto[portfolio]">
                            <i class="fa fa-search"></i>
                        </a> 
                        </div>
                    </div>
                </div>
                 <!--Item 2 Ends-->
                 <!--Item 3 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all commercial education">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/3.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                        <h4>Education</h4>
                         <!--Image Popup-->
                        <a href="assets/img/sections/portfolio/3.jpg" data-rel="prettyPhoto[portfolio]">
                            <i class="fa fa-search"></i>
                        </a> 
                        </div>
                    </div>
                </div>
                 <!--Item 3 Ends-->
                 <!--Item 4 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all education residential">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/4.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                        <h4>Education</h4>
                         <!--Image Popup-->
                        <a href="assets/img/sections/portfolio/4.jpg" data-rel="prettyPhoto[portfolio]">
                            <i class="fa fa-search"></i>
                        </a> 
                        </div>
                    </div>
                </div>
                 <!--Item 4 Ends-->
                 <!--Item 5 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all healthcare commercial">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/5.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                        <h4>Healthcare</h4>
                         Image Popup
                        <a href="assets/img/sections/portfolio/5.jpg" data-rel="prettyPhoto[portfolio]">
                            <i class="fa fa-search"></i>
                        </a> 
                        </div>
                    </div>
                </div>
                 <!--Item 5 Ends-->
                 <!--Item 6 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all healthcare commercial residential">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/6.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                        <h4>Residential</h4>
                         <!--Image Popup-->
                        <a href="assets/img/sections/portfolio/6.jpg" data-rel="prettyPhoto[portfolio]">
                            <i class="fa fa-search"></i>
                        </a> 
                        </div>
                    </div>
                </div>
                 <!--Item 6 Ends-->
                 <!--Item 7 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all commercial healthcare education">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/7.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                        <h4>Healthcare</h4>
                         <!--Image Popup-->
                        <a href="assets/img/sections/portfolio/7.jpg" data-rel="prettyPhoto[portfolio]">
                            <i class="fa fa-search"></i>
                        </a> 
                        </div>
                    </div>
                </div>
                 <!--Item 7 Ends-->
                 <!--Item 8 -->
                <div class="grids col-xs-12 col-sm-4 col-md-3 mix all commercial residential">
                    <div class="grid">
                        <img src="assets/img/sections/portfolio/thumb/8.jpg" width="400" height="273" alt="Recent Work"
                        class="img-responsive" />
                        <div class="figcaption">
                        <h4>Commercial</h4>
                         <!--Image Popup-->
                        <a href="assets/img/sections/portfolio/8.jpg" data-rel="prettyPhoto[portfolio]">
                            <i class="fa fa-search"></i>
                        </a> 
                        </div>
                    </div>
                </div>
                 <!--Item 8 Ends-->
            </div>
        </div>	
         <!--Mix Container -->
</section>
<!-- news -->
 <section id="team" class="page-section">
    <div class="container text-center">
        <div class="section-title">
            <h2 class="title">Our Services</h2>
        </div>
        <div class="row">
            <div class="owl-carousel navigation-1" data-pagination="false" data-items="4" data-autoplay="true" data-navigation="true">
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service01.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">All kind of Home Appliances</h4>
                        </div>
                    </div>
                </div>
                <!-- .employee  -->
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service02.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">All kind of Electrician</h4>
                        </div>
                    </div>
                </div>
                <!-- .employee -->
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service03.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Photographer & Wedding </h4>
                        </div>
                    </div>
                </div>
                <!-- .employee -->
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service04.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Home Decoration</h4>
                        </div>
                    </div>
                </div>
                <!-- .employee -->
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Carpainter & Furniture</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">House Keeping</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Laboratory Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Taxi Services </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">House Cleaning Services </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Transport Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Stitching Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Plumbing Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Motor Vehicle Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Doctor & Health Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Beauty & Salon Services </h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Civil Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">CA/Advocate</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 bottom-xs-pad-20">
                    <div class="team-item dark-bg">
                        <div class="image">
                            <!-- Image -->
                            <img src="assets/img/service05.jpg" alt="" title="" width="270" height="270">
                        </div>
                        <div class="description">
                            <!-- Name -->
                            <h4 class="name">Tuitions & Consultant </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="page-section">
    <div class="image-bg content-in fixed" data-background="assets/img/sections/bg/intro.jpg"></div>            
    <div class="container white">
        <div class="row">
            <div class="col-sm-12 col-md-12 testimonials">						
                 <div class="row">
                    <div class="col-md-12 text-left" data-animation="fadeInUp">
                        <!-- Title -->
                        <h2 class="heading">What Our <span class="text-color">Customer Says</span></h2>
                    </div>
                </div>
                <div class="owl-carousel pagination-2 text-left color-switch" data-effect="backSlide" data-pagination="true" data-autoplay="true" data-navigation="false" data-singleitem="true" data-animation="fadeInUp">
                    <div class="item">
                        <div class="text-left">
                            <p>&quot;The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.&quot;</p>
                        </div>
                        <div class="client-details text-left left-align">
                            <div class="client-image">
                                <!-- Image -->
                                <img class="img-circle" src="assets/img/sections/testimonials/1.jpg" width="80" height="80" alt="">
                            </div>
                            <div class="client-details">
                            <!-- Name -->
                            <b class="text-color">John Doe</b> 
                            <!-- Company -->
                             
                            Designer, zozothemes</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-left">
                            <p>&quot;The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.&quot;</p>
                        </div>
                        <div class="client-details text-left left-align">
                            <div class="client-image">
                                <!-- Image -->
                                <img class="img-circle" src="assets/img/sections/testimonials/1.jpg" width="80" height="80" alt="">
                            </div>
                            <div class="client-details">
                            <!-- Name -->
                            <b class="text-color">John Doe</b> 
                            <!-- Company -->
                             
                            Designer, zozothemes</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-left">
                            <p>&quot;The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.&quot;</p>
                        </div>
                        <div class="client-details text-left left-align">
                            <div class="client-image">
                                <!-- Image -->
                                <img class="img-circle" src="assets/img/sections/testimonials/1.jpg" width="80" height="80" alt="">
                            </div>
                            <div class="client-details">
                            <!-- Name -->
                            <b class="text-color">John Doe</b> 
                            <!-- Company -->
                             
                            Designer, zozothemes</div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
   <!--testimonials -->
<section id="clients" class="page-section tb-pad-20 light-bg border-tb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="owl-carousel" data-pagination="false" data-items="6" data-autoplay="true"
                data-navigation="false">
                <a href="#">
                <img src="assets/img/sections/clients/1.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/11.png" width="170" height="90" alt="" /></a> 
                <a href="#">
                <img src="assets/img/sections/clients/2.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/22.png" width="170" height="90" alt="" /></a> 
                <a href="#">
                <img src="assets/img/sections/clients/1.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/11.png" width="170" height="90" alt="" /></a> 
                <a href="#">
                <img src="assets/img/sections/clients/2.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/22.png" width="170" height="90" alt="" /></a> 
                <a href="#">
                <img src="assets/img/sections/clients/1.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/11.png" width="170" height="90" alt="" /></a> 
                <a href="#">
                <img src="assets/img/sections/clients/2.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/22.png" width="170" height="90" alt="" /></a> 
                <a href="#">
                <img src="assets/img/sections/clients/1.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/11.png" width="170" height="90" alt="" /></a> 
                <a href="#">
                <img src="assets/img/sections/clients/2.png" width="170" height="90" alt="" /> 
                <img src="assets/img/sections/clients/22.png" width="170" height="90" alt="" /></a></div>
            </div>
        </div>
    </div>
</section>
 <!--clients -->

<app-footer></app-footer>