<app-header></app-header>
<!-- Sticky Navbar -->
<div class="page-header page-title-left page-title-pattern">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">Contact Us</h1>
                <h5>A Short Page title</h5>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Page</a>
                    </li>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page-header -->
<section id="contact-us" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h5 class="title">
                        <i class="icon-address text-color"></i>Mailing Address</h5>
                        <address>Office 545, Chandigarh City Center,
                        <br />VIP Road , Zirakpur Punjab - India.
                        <br />zipcode - 140603.</address>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <h5 class="title">
                        <i class="icon-contacts text-color"></i>Contact Info</h5>
                        <div>Phone : +91 80 54 78 43 34</div>
                        <div>WhatsApp : +91 6280901076</div>
                        <div>Email : 
                        <a href="mailto:support@yoursite.com">support@2workindia.com</a>
                        <br /> Franchise : <a href="mailto:support@yoursite.com">2workindia@gmail.com </a></div>
                    </div>
                </div>
                <hr />
                <p>Feel free to contact us. In case you have any doubts, our support team will provide you with the best services and resolve your issues. Our services are available for you 24/7 throughout the day. You can either email our support team on the mail I'd given below or call us on the contact number given below. We'd love to hear from you. We're just one call away.</p>
            </div>
            <div class="col-md-6 col-md-6">
                <h3 class="title">Contact Form</h3>
                <p class="form-message"></p>
                <div class="contact-form">
                    <!-- Form Begins -->
                    <form role="form" name="contactform" id="contactform" method="post" action="#p">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Field 1 -->
                                <div class="input-text form-group">
                                    <input type="text" name="contact_name" class="input-name form-control"
                                    placeholder="Full Name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Field 2 -->
                                <div class="input-email form-group">
                                    <input type="email" name="contact_email" class="input-email form-control"
                                    placeholder="Email" />
                                </div>
                            </div>
                        </div>
                        <!-- Field 3 -->
                        <div class="input-email form-group">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                        </div>
                        <!-- Field 4 -->
                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message form-control" placeholder="Message"
                            rows="6"></textarea>
                        </div>
                        <!-- Button -->
                        <button class="btn btn-default" type="submit">Send Now 
                        <i class="icon-paper-plane"></i></button>
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-section -->
<section id="map">
    <div class="map-section">
       
    </div>
</section>
<app-footer></app-footer>

