<app-header></app-header>
<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.members {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.members h1,
.members h2,
.members h3,
.members h4,
.members h5,
.members h6 {
    color: #3e4555;
}

.members .font-weight-medium {
    font-weight: 500;
}

.members .bg-light {
    background-color: #f4f8fa !important;
}

.members .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.members .pro-pic {
    min-height: 95px;
}







h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.3;
    margin: 0px 0 3px;
    font-family: Oswald,sans-serif;
}




</style>

<div class="page-header page-title-left page-title-pattern">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title">Franchisee</h1>
                        <!--<h5>A Short Page title</h5>-->
                        <ul class="breadcrumb">
                            <li>
                                <a href="index.php">Home</a>
                            </li>
                            <li>
                                <a href="#">Page</a>
                            </li>
                            <!--<li class="active">Contact Us</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<br>

            <div class="container"> 


<div class="py-5 my-2 bg-light members">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 text-center">
                <h1 class="display-5" style="margin: 14px 0 31px 0px;">Our Service Partner</h1>
                <!--<p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
            </div>
        </div>
        
        <!--</div>-->
       <!--<div class="row" style=" margin: 12px 0 17px 0;">-->
            <!-- column  -->
       <!--     <div class="col-md-4">-->
       <!--         <div class="card card-shadow border-0 mb-4">-->
                    <!-- Row -->
       <!--             <div class="row no-gutters shadow">-->
       <!--                 <div class="col-md-5 pro-pic" style="background:url('assets/img/t2.jpg') center center no-repeat">-->
                           
       <!--                 </div>-->
       <!--                 <div class="col-md-7 bg-white" style="margin-bottom: 11px;margin-top: 9px;">
       <!--                     <div class="p-4">-->
       <!--                         <h6>Name - Jack</h6>-->
       <!--                         <h6>Contact - 1234567890</h6>-->
       <!--                         <h6>Address -Lorem Ipsum is simply dummy </h6>-->
                               
                                
       <!--                     </div>-->
       <!--                 </div>-->
       <!--             </div> <!-- Row -->
       <!--         </div>-->
       <!--     </div> -->
       <!--     <div class="col-md-4">-->
       <!--         <div class="card card-shadow border-0 mb-4">-->
                    <!-- Row -->
       <!--             <div class="row no-gutters shadow">-->
       <!--                 <div class="col-md-5 pro-pic" style="background:url('assets/img/t2.jpg') center center no-repeat">-->
                           
       <!--                 </div>-->
       <!--                 <div class="col-md-7 bg-white" style="margin-bottom: 11px;margin-top: 9px;">
       <!--                     <div class="p-4">-->
       <!--                         <h6>Name - Jack</h6>-->
       <!--                         <h6>Contact - 1234567890</h6>-->
       <!--                         <h6>Address -Lorem Ipsum is simply dummy </h6>-->
                               
                                
       <!--                     </div>-->
       <!--                 </div>-->
       <!--             </div> <!-- Row -->
       <!--         </div>-->
       <!--     </div> -->
       <!--     <div class="col-md-4">-->
       <!--         <div class="card card-shadow border-0 mb-4">-->
                    <!-- Row -->
       <!--             <div class="row no-gutters shadow">-->
       <!--                 <div class="col-md-5 pro-pic" style="background:url('assets/img/t2.jpg') center center no-repeat">-->
                           
       <!--                 </div>-->
       <!--                 <div class="col-md-7 bg-white" style="margin-bottom: 11px;margin-top: 9px;">
       <!--                     <div class="p-4">-->
       <!--                         <h6>Name - Jack</h6>-->
       <!--                         <h6>Contact - 1234567890</h6>-->
       <!--                         <h6>Address -Lorem Ipsum is simply dummy </h6>-->
                               
                                
       <!--                     </div>-->
       <!--                 </div>-->
       <!--             </div> <!-- Row -->
       <!--         </div>-->
       <!--     </div> -->
            
            
           
       <!-- </div>-->
         <div class="row" style=" margin: 12px 0 17px 0; text-align: center;">
            <!-- column  -->
            <div class="col-sm-4">
                <div class="card card-shadow border-0 mb-4">
                    <!-- Row -->
                    <div class="row no-gutters shadow">
                        <div class="col-md-5 pro-pic" style="background:url('assets/img/t2.jpg') center center no-repeat">
                           
                        </div>
                        <div class="col-md-7 bg-white" style="margin-bottom: 11px;margin-top: 9px;">
                            <div class="p-4">
                                <h6>Name - Jack</h6>
                                <h6>Contact - 1234567890</h6>
                                <h6>Address -Lorem Ipsum is simply dummy </h6>
                               
                                
                            </div>
                        </div>
                    </div> <!-- Row -->
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="card card-shadow border-0 mb-4">
                    <!-- Row -->
                    <div class="row no-gutters shadow">
                        <div class="col-md-5 pro-pic" style="background:url('assets/img/t2.jpg') center center no-repeat">
                           
                        </div>
                        <div class="col-md-7 bg-white" style="margin-bottom: 11px;margin-top: 9px;">
                            <div class="p-4">
                                <h6>Name - Jack</h6>
                                <h6>Contact - 1234567890</h6>
                                <h6>Address -Lorem Ipsum is simply dummy </h6>
                               
                                
                            </div>
                        </div>
                    </div> <!-- Row -->
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="card card-shadow border-0 mb-4">
                    <!-- Row -->
                    <div class="row no-gutters shadow">
                        <div class="col-md-5 pro-pic" style="background:url('assets/img/t2.jpg') center center no-repeat">
                           
                        </div>
                        <div class="col-md-7 bg-white" style="margin-bottom: 11px;margin-top: 9px;">
                            <div class="p-4">
                                <h6>Name - Jack</h6>
                                <h6>Contact - 1234567890</h6>
                                <h6>Address -Lorem Ipsum is simply dummy </h6>
                               
                                
                            </div>
                        </div>
                    </div> <!-- Row -->
                </div>
            </div> 
            
            
           
        </div>
      
      
    </div>
</div>
            
       <br>     
            <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center" style="margin: 14px 0 31px 0px;">Apply Franchise in Your City</h2>
    <!--Section description-->
    <!--<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within-->
    <!--    a matter of hours to help you.</p>-->

    <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Name</label>
                            <input type="text" id="name" name="name" class="form-control">
                            
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="org_name" class="">Organisation Name</label>
                            <input type="text" id="org_name" name="org_name" class="form-control">
                            
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                             <label for="phone_number" class="">Phone Number</label>
                            <input type="text" id="phone_number" name="phone_number" class="form-control">
                           
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                             <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control">
                           
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                             <label for="address" class="">Address</label>
                            <input type="text" id="address" name="address" class="form-control">
                           
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                             <label for="category" class="">Category</label>
                             <select  class="form-control">
                                 <option value="">Select</option>
                                 <option value="Small">Small</option>
                                 <option value="Medium">Medium</option>
                                 <option value="Large">Large</option>
                             </select>
                           
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                             <label for="distributerId" class="">Distributer ID</label>
                            <input type="text" id="distributerId" name="distributerId" class="form-control">
                           
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                             <label for="referalId" class="">Refferal ID</label>
                            <input type="text" id="referalId" name="referalId" class="form-control">
                           
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Submit</a>
            </div>


            </form>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <!--<div class="col-md-3 text-center">-->
        <!--    <ul class="list-unstyled mb-0">-->
              

        <!--        <li><i class="fa fa-phone mt-4 fa-2x"></i>-->
        <!--            <p>+ 01 234 567 89</p>-->
        <!--        </li>-->

        <!--        <li><i class="fa fa-envelope mt-4 fa-2x"></i>-->
        <!--            <p>contact@mdbootstrap.com</p>-->
        <!--        </li>-->
        <!--    </ul>-->
        <!--</div>-->
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</div>
            <hr>
        
       
<app-footer></app-footer>
